<%- include("partials/header.ejs") %>


<div class="container">
    <form action="/create_post" method="post" class="form">
        <label for="author">Author :</label>
        <input type="text" name="author" id="author" placeholder="Author">

        <label for="title">Title :</label>
        <input type="text" name="title" id="" placeholder="Title">

        <label for="content">Content :</label>
        <textarea name="content" id="content" placeholder="Write your content..."></textarea>

        <input type="submit" value="Create Post" class="post-btn">
    </form>
    
</div>